altgraph==0.17.4
asgiref==3.8.1
asttokens==2.4.1
attrs==23.2.0
beautifulsoup4==4.12.3
cachetools==5.5.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
comm==0.2.2
contourpy==1.2.1
cryptography==43.0.1
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
distlib==0.3.8
distro==1.9.0
Django==5.0.6
django-cors-headers==4.4.0
django-formtools==2.5.1
django-otp==1.5.0
django-phonenumber-field==7.3.0
django-storages==1.14.4
django-two-factor-auth==1.16.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
et-xmlfile==1.1.0
executing==2.0.1
filelock==3.14.0
fonttools==4.51.0
fpdf==1.7.2
google-api-core==2.19.2
google-auth==2.34.0
google-auth-oauthlib==1.2.1
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
h11==0.14.0
html5lib==1.1
idna==3.7
instaloader==4.13.1
ipykernel==6.29.4
ipython==8.24.0
jedi==0.19.1
jupyter_client==8.6.1
jupyter_core==5.7.2
kiwisolver==1.4.5
lxml==5.2.2
matplotlib==3.9.0
matplotlib-inline==0.1.7
mysql-connector-python==9.1.0
nest-asyncio==1.6.0
ngrok==1.4.0
numpy==1.26.4
oauthlib==3.2.2
openpyxl==3.1.3
outcome==1.3.0.post0
packaging==24.0
pandas==2.2.2
parso==0.8.4
pdfminer.six==20231228
pdfplumber==0.11.4
pefile==2023.2.7
pillow==10.3.0
pipenv==2024.0.1
platformdirs==4.2.2
plotly==5.22.0
prompt-toolkit==3.0.43
proto-plus==1.24.0
protobuf==5.28.1
psutil==5.9.8
psycopg2==2.9.9
pure-eval==0.2.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pygame==2.6.0
Pygments==2.18.0
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
PyJWT==2.8.0
pyparsing==3.1.2
pypdfium2==4.30.0
pypng==0.20220715.0
PySocks==1.7.1
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.2
pyzmq==26.0.3
qrcode==7.4.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
seaborn==0.13.2
selenium==4.22.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.5.0
stack-data==0.6.3
tabula-py==2.9.3
tenacity==8.3.0
tornado==6.4
traitlets==5.14.3
trio==0.26.0
trio-websocket==0.11.1
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.2
virtualenv==20.26.2
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
wsproto==1.2.0
